<form (ngSubmit)="save()" novalidate>
    <div class="form-group">
        <label for="taskName">Título</label>
        <input id="taskName" type="text" name="name" [(ngModel)]="model.name"
            placeholder="Escribe el nombre de la tarea" />
    </div>

    <div class="form-group">
        <label for="taskDescription">Descripción</label>
        <textarea id="taskDescription" rows="4" name="description" [(ngModel)]="model.description"
            placeholder="Escribe una descripción"></textarea>
    </div>

    <div class="form-group">
        <label for="taskDate">Fecha</label>
        <input id="taskDate" type="date" name="createdAt" [(ngModel)]="model.createdAt" />
    </div>

    <div *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</div>
</form>